Q-9. A cyber security agent wants to check the Microsoft Malware so need he came
to you as a Machine learning Engineering with Data, You need to find the Malware
using a supervised algorithm and you need to find the accuracy of the model.
Dataset This is the Dataset You can use this dataset for this question.
1. An Ad- Agency analyzed a dataset of online ads and used a machine learning
model to predict whether a user would click on an ad or not.
Dataset This is the Dataset You can use this dataset for this question

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(rc={"figure.figsize":(30,15)})
pd.pandas.set_option("display.max_columns",None)

In [2]:
df = pd.read_csv('D:/ml_assignment_code/ml_assignment_code/data/sample_submission.csv')
df_copy = df.copy()

In [3]:
df_copy

                        MachineIdentifier  HasDetections
0        0000010489e3af074adeac69c53e555e            0.5
1        00000176ac758d54827acd545b6315a5            0.5
2        0000019dcefc128c2d4387c1273dae1d            0.5
3        0000055553dc51b1295785415f1a224d            0.5
4        00000574cefffeca83ec8adf9285b2bf            0.5
...                                   ...            ...
7853248  fffff8c0e065c468a2373f7afd5e7674            0.5
7853249  fffff90b27a1248b6fffc7a535bd736c            0.5
7853250  fffffa6a956c17ddbabca53d4ab708ae            0.5
7853251  fffffad7b6c8196ec5cae634406c0d4f            0.5
7853252  fffffbd305a90eb0f93ee4f30a39c736            0.5

[7853253 rows x 2 columns]

Not getting any idea here regarding the dataset